<!DOCTYPE html>
<html lang="pt-br">
<head>

    <!-- Google tag (gtag.js) -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=AW-17490337789"></script>
    <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());

    gtag('config', 'AW-17490337789');
    </script>

    <meta charset="UTF-8">
    <title>Dashboard</title>
    <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
    <link rel="stylesheet" href="/static/css/style.css">

</head>
<body>
    <aside class="sidebar">
        <div>
            <div class="sidebar-logo">
            <!-- ajuste o nome do arquivo conforme o que estiver em /static/images -->
            <img src="/static/images/logo_escura.png" alt="JubartData" />
            </div>
            <div class="sidebar-nav">
                <label for="tipo">Tipo de operação:</label><br>
                <select id="tipo" onchange="trocarTipo()">
                    <option value="impo" {% if tipo == 'impo' %}selected{% endif %}>📥 Importação</option>
                    <option value="expo" {% if tipo == 'expo' %}selected{% endif %}>📤 Exportação</option>
                </select>

                <label for="ano">Ano:</label><br>
                <select id="ano" onchange="trocarAno()">
                    <option value="{{ ano_atual }}" {% if ano_selecionado == ano_atual %}selected{% endif %}>{{ ano_atual }}</option>
                    <option value="{{ ano_atual - 1 }}" {% if ano_selecionado == (ano_atual - 1) %}selected{% endif %}>{{ ano_atual - 1 }}</option>
                </select>
                <br><br>
                <ul>
                    <li><a href="/overview?tipo={{ tipo }}">📊 Overview</a></li>
                    <li><a href="/market?tipo={{ tipo }}">📈 Market</a></li>
                </ul>
            </div>
        </div>
    </aside>
    <main>
        {% block content %}{% endblock %}
    </main>

    <script>
        function trocarTipo() {
            const tipoSelecionado = document.getElementById('tipo').value;
            const url = new URL(window.location.href);
            url.searchParams.set("tipo", tipoSelecionado);
            window.location.href = url.pathname + "?" + url.searchParams.toString();
        }

        function trocarAno() {
            const anoSelecionado = document.getElementById('ano').value;
            const url = new URL(window.location.href);
            url.searchParams.set("ano", anoSelecionado);
            window.location.href = url.pathname + "?" + url.searchParams.toString();
        }

        window.addEventListener('load', function () {
            const graphs = document.querySelectorAll('.plotly-graph-div');
            graphs.forEach(g => {
                Plotly.Plots.resize(g);
            });
        });

    </script>
</body>
</html>
