# macOS / Python
.DS_Store
__pycache__/
*.py[cod]
.venv/
.env
*.env
app/.env
outputs/**/.env

# dados locais
/data/
*.sqlite

# Logs
*.log

# Arquivos temporários de IDE
.vscode/
.idea/

# Arquivos gerados localmente
outputs/**/*.csv
outputs/**/*.parquet
outputs/**/*.xlsx
